html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
	/*background: #000 url("../img/bg4.jpeg") no-repeat 50% 0;*/
	color:white;
	/*background: linear-gradient(to top, #051937, #171228, #190a1a, #12040d, #000000);*/
	background-image: linear-gradient(to top, #051937, #041732, #04152d, #041329, #031124, #070e20, #090a1c, #0a0718, #0d0412, #0c020b, #070104, #000000);
	/*background-color: black;*/
}

.btn-light {
	background-color: #F5B70E;
	border-color: #F5B70E;
}

	.btn-light:hover {
		background-color: #fbe29e;
		border-color: #fbe29e;
	}

.spinner-border {
	display: block;
	position: fixed;
	top: calc(50% - (48px / 2));
	right: calc(50% - (48px / 2));
	color: #F5B70E;
	width: 48px;
	height: 48px;
}

#backdrop {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background-color: rgb(0,0,0,0.2);
}
